<div class="achievementList">
    <div class="achievementList_Bar">
        <div class="achievementList_Toolbar" role="banner">
            <img class="achievementList_icon" src="assets\icon2.png">
            <span class="achievementList_mgText">My Games List</span>
            <div class="achievementList_spacer"></div>
        </div>
    </div>

    <div class="achievementList_box">
        <div *ngFor="let item of achievements">
            <img [src]="item.achImage"/>
            <div class="achievementList_Title" [innerHTML]="item.achDescription"></div>
            <div class="achievementList_Description" [innerHTML]="item.difficulty"></div>
            <div class="achievementList_Difficulty" [innerHTML]="item.isDone"></div>
        </div>

    </div>


</div>    