<div class="loginContainer">
    <div class="toolbar" role="banner">
        <img class="icon" src="assets\icon2.png">
        <span class="mgText">My Games List</span>
        <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="registerText"> Register </a>
        <div class="spacer"></div>


    </div>
    <div class="loginComponentBox">
        <span class="text">INTRODUCE YOUR USERNAME AND PASSWORD</span>
        <div class="loginComponentCard">
            <input class="loginTextArea" placeholder="introduce your username" required=true #username />
            <input class="loginTextArea" placeholder="introduce your password" type="password" required=true  #password />
            <button class="loginButton" (click)="submit(username.value,password.value)"> login </button>

        </div>
        <div class="a">
            <a  [routerLink]="['/register']" routerLinkActive="router-link-active" class="forgotText"> Forgot password?</a>
        </div>
    </div>

</div>