<div class="page">
    <div class="gameList">
        <div class="gameList_Bar">
            <div class="gameList_Toolbar" role="banner">
                <img class="gameList_Icon" src="assets\icon2.png">
                <span class="gameList_MgText">My Games List</span>
                <div class="gameList_Spacer"></div>
            </div>
        </div>

        <div class="gameList_Box">
            <div *ngFor="let item of games , let i = index">
                <div class="gameList_Grid">
                    <img class="gameList_Image"  [src]="item.coverPage" />
                        <div class="gameList_Title" (click)="navigate(item.name)" [innerHTML]="item.name" ></div>
                        <div class="gameList_Description" [innerHTML]=" 'Description: ' + item.description"></div>
                        <div class="gameList_Genre" [innerHTML]="'Genre: ' + item.genre"></div>
                </div>
                <button class="gameList_Button" (click)="saveGameToClientList(item.gameId)">ADD TO MY LIST</button>
                <hr>

            </div>


        </div>
    </div>
</div>