<div class="page">
    <div class="gameList">
        <div class="gameList_Bar">
            <div class="gameList_Toolbar" role="banner">
                <img class="gameList_Icon" src="assets\icon2.png">
                <span class="gameList_MgText">My Games List</span>
                <div class="gameList_Spacer"></div>
            </div>
        </div>

        <div class="gameList_Box">
            <div *ngFor="let item of games">
                <div class="gameList_Grid">
                    <img class="gameList_Image" [src]="item.coverPage" />
                    <div class="gameList_Title" [innerHTML]="item.name"></div>
                    <div class="gameList_Description" [innerHTML]="item.description"></div>
                    <div class="gameList_Genre" [innerHTML]="item.genre"></div>
                </div>
                <button class="gameList_Button">ADD TO MY LIST</button>
                <hr>

            </div>


        </div>
    </div>
</div>