
.gameList{
  
    font-family: Arial, Helvetica, sans-serif;
    &_Toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #2e51a2;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      &_MgText {
        display: flex;
        align-self: auto;
        color: white;
        font-weight: 600;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      &_Icon {
        max-width: 100px;
        max-height: 100px;
      }


      &_Box{
        margin-top: 67px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, #8585ff, lightblue);
      }

      &_Image{
        grid-row: 1/span 3;
        justify-self: self-start;
        width: 200px;
        height: 100px;
        border: black;
        border-style: groove;
        border-radius: 30px;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    }
      

      &_Title{
        font-size: 40px;
        font-weight: bold;
        margin-top: 10px;
        cursor: pointer;
      }

      &_Description{
        border-radius: 10px;
        margin-top: 20px;
        grid-column: 2;
        grid-row: 2;
      }

      &_Genre{

        grid-column: 2;
        grid-row: 3;
      }

      &_Grid{
        display:grid;
        grid-template-columns: 14% 54%;
        grid-template-rows: 22% auto;
      }


      &_Button{
        display: flex;
        margin-left: auto;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        border: none;
        font-size: 0.875rem;
        color: #ffffff;
        font-weight: bold;
        background-color: #2e51a2;
        width: 10%;
        padding: 0.875rem 1rem;
        border-radius: 1.5rem;
        box-shadow: 3px 3px 8px black, -3px -3px 8px black;
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
      }



}


.ProfileBox{
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 20px;
  align-items: center;
}

.ProfileImage{
  width:50px;
  height:50px;
  border: 5px;
  border-color: black;
  border-radius: 10px;
  border-style: solid;
  cursor: pointer;
}

.ProfileName{
  font-weight: bold;
  color:white;
  cursor: pointer;
}

.field{
  margin-left:auto;
  box-shadow:
  1px 1px 0 #627bb3
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid #627bb3;
  ;
}

.field>button {
  padding:0.8em 0.8em;
  background-color:#627bb3;
  color:white;
  border:none;
  cursor: pointer;
}

.Menu{
  display: flex;
  margin-top: 33px;
  flex-direction: column;
  align-items: flex-end;
  &_Background{

    border-style: solid;
    text-align: center;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    margin-right: 10px;
    background: white;
    margin-bottom: -30px;
  }

  &_Text{
    border-bottom: 1px;
      
    border-top: 0px;
    border-right:0px;
    border-left:  0px; 
    display: block;
    text-align: center;
    
    border-style: solid;
    &_2{
     border: none;
    }
  }
  
}
