<div class="registerContainer">
    <div class="toolbar" role="banner">
        <img class="icon" src="assets\icon2.png">
        <span class="mgText">My Games List</span>
        <div class="spacer"></div>

    </div>

    <div class="loginComponentBox">
        <div *ngIf="!creado">
        <span class="text">INTRODUCE YOUR USERNAME AND PASSWORD</span>
        <div class="loginComponentCard">
            <div class="space"></div>
                <span class="text">USERNAME:</span>
                <input class="registerTextArea" name="register1" required=true type="text" #username />
                <span class="text">PASSWORD:</span>
                <input class="registerTextArea" name="register2" required=true #password />
                <button class="loginButton" name="registerButton" (click)="addClient(username.value, password.value)">
                    register </button>
            </div>
            
        </div>
        <div *ngIf="creado">
            <span class="welcomeText">WELCOME {{this.newClient.username.toUpperCase()}}</span>
        </div>

    </div>